<div class="container">

    <h1>Lista de Productos con WebSocket</h1>

    <div class="form-container">
        <input type="text" placeholder="Ingrese el código" id="codigo" />
        <input
            type="text"
            placeholder="Ingrese el nombre del producto"
            id="titulo"
        />
        <input
            type="text"
            placeholder="Ingrese la descripción del producto"
            id="descripcion"
        />
        <input type="text" placeholder="Ingrese el precio" id="precio" />
        <input
            type="text"
            placeholder="Ingrese la cantidad de productos"
            id="cantidad"
        />
        <input type="text" placeholder="Ingrese la categoría" id="categoria" />

        <button id="enviar">Enviar</button>
    </div>

    <div class="table-container">
        <table id="productos-lista">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td id="code">{{this.code}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>${{this.price}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.category}}</td>
                        <td>
                            {{#if this.thumbnails.length}}
                                <ul>
                                    {{#each this.thumbnails}}
                                        <li><img
                                                src="{{this}}"
                                                alt="Thumbnail"
                                            /></li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                No Thumbnails
                            {{/if}}
                        </td>
                        <td>{{#if
                                this.status
                            }}Activo{{else}}Inactivo{{/if}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>